@charset "UTF-8";

.button{
  display: flex;
  justify-content: center;
  text-align: center;
}

.box{
  margin-left: 30px;
  cursor: pointer;
  line-height: 50px;
  padding: 0 15px;
  border-radius: 10px;

}

.red{
  color: #fff;
  background: #fd0f0fd9;

}

.blue{
  color: #fff;
  background: #170ffdd9;
  
}

.green{
  color: #000;
  background: #0ffd0fd9;
  
}

.red-shadow{
  box-shadow: 2px 4px rgba(63, 5, 5, 0.851);
  color: #fff;
  background: #fd0f0fd9;
  
}

.blue-shadow{
  color: #fff;
  background: #170ffdd9;
  box-shadow: 2px 4px rgba(5, 13, 63, 0.851);
}

.green-shadow{
  color: #000;
  background: #0ffd0fd9;
  box-shadow: 2px 4px rgba(5, 63, 5, 0.851);
}

.red-push{
  box-shadow: 2px 4px rgba(63, 5, 5, 0.851);
  color: #fff;
  background: #fd0f0fd9;
}

.red-push:active{
  box-shadow: none;
  transform: translate(5px, 5px);
}

.blue-push{
  color: #fff;
  background: #170ffdd9;
  box-shadow: 2px 4px rgba(5, 13, 63, 0.851);
}

.blue-push:active{
  box-shadow: none;
  transform: translate(5px, 5px);
}

.green-push{
  color: #000;
  background: #0ffd0fd9;
  box-shadow: 2px 4px rgba(5, 63, 5, 0.851);
}

.green-push:active{
  box-shadow: none;
  transform: translate(5px, 5px);

}


.line{
  border: 4px double;
  color: #67c5ff;
}

.line:hover{
  background: #fffbef;
} 

.point{
  border: 4px dotted;
  color: #67c5ff;
}

.point:hover{
  border: 4px dashed #67c5ff;
}

.color{
  border: 4px dashed #67c5ff;
  color: #0079a5f8;
  background: #d0edfff8;
}

.color:hover{
  color: #67c5ff;
  background: #ffffff;
}