@charset "UTF-8";


.collar{
    width: 500px;
    margin: auto;
    line-height: 16px;
    font-size: 16px;
    border: solid 5px #8f5a0a;
    border-radius: 40px;
    background-color: #fad296;
    padding: 20px;
    position: relative;
}

.collar::before{
    position: absolute;
    bottom: -27px;
    left: 31px;
    content: "";
    border-right: 22px solid transparent;
    border-left: 22px solid transparent;
    border-top: 22px solid  #8f5a0a;
    
}

.collar::after{
    position: absolute;
    bottom: -20px;
    left: 33px;
    content: "";
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 20px solid #fad296;
    
}
