@charset "UTF-8";


.collar{
    width: 500px;
    margin: auto;
    line-height: 16px;
    font-size: 16px;
    border: solid 5px #8f5a0a;
    border-radius: 40px;
    background-color: #fad296;
    padding: 20px;
    position: relative;
}

.collar::before{
    position: absolute;
    top: 100%;
    left: 40px;
    content: "";
    border: 20px solid transparent;
    border-top: 20px solid #fad296;
    z-index: 2;
}

.collar::after{
    position: absolute;
    top: 100%;
    left: 33px;
    content: "";
    border: 27px solid transparent;
    border-top: 27px solid #8f5a0a;
    z-index: 1;
}
